.mdl-js{
    background-color: black;
}

.background-img{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: "cover";
}

.detail-container {
    position: relative;
    margin: 0;
    background-color: rgb(0, 0, 0);
    height: 100%;
    font-family: Netflix Sans,
        Helvetica Neue,
        Segoe UI,
        Roboto,
        Ubuntu,
        sans-serif;
}

.detail-main {
    color: rgb(255, 255, 255);
    padding: 25px 25px;
    padding-top: 150px;
}

.detail-poster {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    width: 33%;
    float: left;
}

.detail-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.detail-heading {
    width: 66%;
    margin-left: 400px;
    margin-top: 60px;
    position: relative;
}

.detail-heading h4 {
    font-size: 25px;
}

.detail-heading h1 {
    font-size: 50px;
}

.detail-heading p {
    letter-spacing: 1.3px;
    margin: 0;
    color: rgb(146, 146, 146);
}

.fadetop {
    background-image: linear-gradient(180deg,
            transparent,
            rgba(15, 15, 15) 100%,
            rgba(10, 10, 10),
            rgba(10, 10, 10));
    height: 400px;
    width: 100%;
    position: absolute;
}

.main_icon {
    display: flex;
    margin-top: 50px;
}

.main_icon span {
    color: rgb(255, 27, 27);
}

.icon_playarrowicon {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
}

.icon_shareicon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
}

#icon_play {
    color: rgb(24, 22, 22);
    font-size: 35px;
}

#icon_share {
    font-size: 25px;
    color:black ;
}

.detail-rate {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.vote_average {
    display: flex;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 15px;
}

.voted {
    font-size: 25px;
    color: orange;
}

.imdb {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: orange;
    padding: 2px;
    border-radius: 6px;
}

.rate {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-right: 1px solid white;
}

.rate span {
    font-size: 20px;
}

.add_heart {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap : 10px
}

.btn-wrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-wrapper p {
    font-size: 12px;
    cursor: pointer;
}

.btn-wrapper p:hover{
    color: white;
}

.heart{
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    border: none;
    /* border: 1px solid white; */
    background-color: transparent;
    cursor: pointer;
}

.add {
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    border: none;
    /* margin-right: 10px; */
    /* border: 1px solid white; */
    background-color: transparent;
    cursor: pointer;
}

.bell-btn{
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    border: none;
    /* border: 1px solid white; */
    background-color: transparent;
    cursor: pointer;
}

#bell-icon{
    font-size: 30px;
    color: white;
}

#bell-icon:hover{
    color: grey;
}

#icon_add {
    font-size: 30px;
    color :white;
}

#icon_add:hover{
    color: gray;
}

#icon_heart {
    font-size: 30px;
    color: white;
}

#icon_heart:hover {
    color: red;
}

.main-footer-container{
    padding-top: 100px;
}

.info-area{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.companies-name{
    color: rgb(226, 223, 223);
    font-size: 15px;
}

.fade-back-wrapper{
    position: relative;
}

/* Reponsive size mini ipad ----------------- */

@media (max-width : 768px) {
    .detail-heading{
        margin-left: 40%;
        font-size: 15px;
    }
    .detail-heading h1{
        font-size: 30px;
    }
    .detail-heading h4{
        font-size: 15px;
    }
    .detail-context{
        width: 350px;
        margin-top: 0px;
        gap:10px
    }
    .detail-main {
        color: rgb(255, 255, 255);
        padding: 25px 25px;
        padding-top: 150px;
    }
    .detail-poster img {
        width: 90%;
        height: 90%;
    }
    
    .detail-heading {
        margin-left: 38%;
        margin-top: 30px;
    }
    
    .detail-heading h4 {
        font-size: 15px;
    }
    
    .detail-heading h1 {
        font-size: 25px;
        margin : 15px 0px 15px 0px;
    }
    
    .detail-heading p {
        letter-spacing: 0.3px;
        margin: 0;
        color: rgb(146, 146, 146);
        font-size: 14px;
    }
    .main_icon {
        margin-top: 30px;
    }
    .vote_average {
        padding-right: 10px;
    }
    .imdb {
        font-size: 15px;
        border-radius: 5px;
    }
    .add_heart {
        padding-left: 5px;
        width: 250px;
        gap: 5px
    }
    .btn-wrapper {
        width: 200px;
    }
    .btn-wrapper p {
        font-size: 11px;
    }
    #icon_add {
        font-size: 25px;
    }
    #icon_heart {
        font-size: 25px;
    }
    #bell-icon {
        font-size: 25px;
    }
    .companies-name {
        color: rgb(226, 223, 223);
        font-size: 14px;
    }
}

/* Reponsive sive iphone 12 Pro ------------- */

@media (max-width : 390px){
    .mdl-js {
        background-color: black;
    }
    .background-img {
        width: 100%;
        height: 180px;
    }
    .detail-main {
        padding: 0px 0px;
        padding-top: 120px;
    }
    .detail-poster {
        width: 35%;
    }
    .detail-heading {
        width: 66%;
        margin-left: 4px;
        margin-top: 60px;
        position: relative;
    }
    .detail-heading h4 {
        padding-top: 15px;
        font-size: 13px;
    }
    .detail-heading h1 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .detail-heading p {
        letter-spacing: 0.5px;
        font-size: 12px;
    }
    .fadetop {
        background-image: linear-gradient(180deg,
        transparent,
            rgba(15, 15, 15) 130%,
            rgba(10, 10, 10),
            rgba(10, 10, 10));
            height: 180px;
        }
    .main_icon {
        display: flex;
        margin-top: 30px;
    }
    .icon_playarrowicon {
        height: 30px;
        width: 30px;
    }
    .icon_shareicon {
        height: 30px;
        width: 30px;
    }
    #icon_play {
        font-size: 25px;
    }
    #icon_share {
        font-size: 18px;
    }
    .detail-rate {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .vote_average {
        padding-right: 5px;
    }
    .voted {
        font-size: 20px;
        color: orange;
    }
    .imdb {
        font-size: 14px;
        border-radius: 4px;
    }
    .span-title {
        width: 120px;
        font-size: 15px;
    }
    .add_heart {
        padding-left: 0px;
        width: 300px;
        gap: 5px
    }
    .btn-wrapper p {
        font-size: 12px;
    }
    #bell-icon {
        font-size: 25px;
    }
    #icon_add {
        font-size: 25px;
    }
    #icon_heart {
        font-size: 25px;
    }
    .companies-name {
        color: rgb(226, 223, 223);
        font-size: 12px;
    }
    .info-area{
        gap: 5px;
        margin-bottom: 5px;
    }
}