.explore-movie-container{
    background-color: black;
}

.main-title{
    color: white;
    width: auto;
    height: 100px;
    padding-top: 70px;
}

.title-expl-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.movie-card-wrapper{
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 0%;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.movie-card{
    margin-right: 5px;
    width: 350px;
}
.movie-expl-img{
    width: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.movie-expl-title{
    width: 200px;
    margin: 5px;
    cursor: pointer;
    color: rgb(159, 160, 160);
}
.movie-expl-title:hover{
    color: white;
}
.MuiSvgIcon-root{
    color: rgb(146, 146, 146);
}

.MuiSvgIcon-root:hover{
    color: white;
}
.MuiPagination-ul {
    justify-content: center;
    height: 80px;
}

.MuiPagination-ul .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
    color: rgb(104, 101, 101);
    font-size: 15px;
}

.MuiPagination-ul .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root:hover{
    color: white;
}


/* ------------Reponsive for ipad-size--------------- */

@media (max-width : 768px) {
    .main-title {
        font-size: 30px;
    }
    .movie-expl-img {
        width: 300px;
        border-radius: 2px;
    }
    .movie-card {
        margin-right: 2px;
        width: 300px;
    }
    .movie-expl-title {
        width: 250px;
        margin: 5px;
    }
    .movie-card-wrapper {
        width: 100%;
        background-color: black;
        flex-wrap: wrap;
        justify-content: space-around;
        color: white;
        font-size: 15px;
        font-weight: 400;
    }
    .movie-card {
        margin-right: 0px;
        width: 50%px;
    }
    .movie-expl-img{
        width: 300px;
    }
}

/* ------------Reponsive for iphone 12pro --------------- */
@media (max-width : 390px) {
    .main-title {
        font-size: 15px;
        margin-bottom: 0px;
        padding-top: 50px;
    }

    .movie-expl-img {
        width: 250px;
        border-radius: 2px;
    }

    .movie-card {
        margin-right: 2px;
    }

    .movie-expl-title {
        width: 250px;
        margin: 5px;
    }

    .movie-card-wrapper {
        padding-top: 0px;
        font-size: 14px;
        font-weight: 400;
    }

    .movie-card {
        margin-right: 0px;
        width: 50%px;
    }

    .movie-expl-img {
        width: 300px;
    }
}